Source: vx-migasfree-launcher
Section: utils
Priority: extra
Maintainer: Alberto Gacías <alberto@migasfree.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/agacias/vx-migasfree-launcher

Package: vx-migasfree-launcher
Architecture: all
Pre-Depends: migasfree-client, sudo
Depends: ${misc:Depends}, python, python-appindicator
Description: migasfree launcher
 migasfree launcher in graphic session
