Source: vx-migasfree-launcher
Section: utils
Priority: extra
Maintainer: Alberto Gacías <alberto@migasfree.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.7
Homepage: https://github.com/vitalinux/vx-migasfree-launcher

Package: vx-migasfree-launcher
Architecture: all
Pre-Depends: migasfree-launcher (>= 1.8), sudo
Depends: ${misc:Depends}, python, python-gi, vx-utils
Description: migasfree launcher wrapper
